.order-detail-container {
  .content-container {
    height: calc(100vh - 118px);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    min-width: 649px;

    h3.ant-typography {
      margin: 0;
    }
  }

  .action-container {
    background: #f3f3f9;
    height: 118px;
    padding: 24px;
    position: sticky;
    min-width: 649px;
    bottom: 0;

    .action-button {
      width: 351px;
    }

    .back-button {
      width: 226px;
    }
  }
}

.order-detail-header {
  margin-bottom: 24px;
}

.order-detail-table {
  justify-content: stretch;
  flex-grow: 1;
  overflow-x: auto;

  .app-table {
    min-width: 900px;

    .table-header {
      .header-row {
        .column-cell {
          div {
            text-align: center;
          }
        }
      }
    }

    .table-body {
      .ant-affix {
      }

      .group-item-expand-row {
        .group-item-expand-cell {
          img {
            margin-right: 8px;
          }
          .ant-typography {
            color: white;
            font-size: 14px;
            font-weight: 400;
            margin: 0;
          }
        }
      }
    }
  }
}

.filter-button-container {
  .ant-btn {
    height: 58px;
    width: 213px;
    color: #6461b4;
    transition: background 0.2s ease-in;

    svg {
      margin-right: 10px;
    }
  }

  .ant-btn:hover {
    background: #6461b4;
    color: #ffffff;

    svg {
      margin-right: 10px;

      path {
        fill: #ffffff;
      }
    }
  }
  &.active-btn {
    .ant-btn {
      background: linear-gradient(272.96deg, #28a9f1 0%, #65c8ff 100%);
      border: 2px solid #d0cff4;
      color: white;
      svg {
        path {
          fill: #ffffff;
        }
      }
    }
  }
}

.order-detail-total-cost-label {
  .ant-tag {
    margin-right: 8px;
    background: #f0f0fc;
    color: #6461b4;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 8px;
    border: none;
    border-radius: 4px;
  }
}

.order-detail-item-quantity-button {
  .ant-btn {
    width: 58px;
    height: 55px;
    padding: 0;
    border-radius: 10px;
    border: 2px solid #b5b6ff;
    size: 18px;
    font-weight: 700;
    color: #4f4e66;
  }

  .ant-btn:focus {
    border: 2px solid #b5b6ff;
    color: #4f4e66;
    background: none;
  }

  .ant-btn:hover {
    border: 4px solid #b530bc;
    color: #4f4e66;
    background: none;
  }

  .ant-btn:focus {
    border: 4px solid #b530bc;
    color: #4f4e66;
    background: none;
  }
}
